body {
  font: 14px/1.5 Helvetica Neue, Helvetica, Arial, Microsoft Yahei, Hiragino Sans GB, Heiti SC, WenQuanYi Micro Hei, sans-serif;
  color: #333;
}

/* 顶部栏 */
.topBar {
  width: 100%;
  height: 40px;
  background-color: #333333;
}

.container {
  width: 1226px;
  height: 100%;
  margin: 0 auto;
}

.topBar .topBar_list {
  float: left;
}

.topBar .shop {
  float: right;
  width: 120px;
  margin-left: 15px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-color: #424242;
}

.topBar .login {
  float: right;
}

.topBar a {
  color: #b0b0b0;
  font-size: 12px;
  display: inline-block;
  line-height: 40px;
}

.topBar .shop a {
  width: 120px;
  height: 40px;
  display: inline-block;
}

.topBar a:hover {
  color: #fff;
}

.topBar span {
  color: #424242;
  margin: 0 .5em;
}

/* 导航栏 */
.header {
  height: 100px;
}

.header .site-logo {
  float: left;
  width: 62px;
  margin-top: 22px;
}

.header .site-logo a {
  display: block;
  width: 56px;
  height: 56px;
}

.header .site-list {
  float: left;
  width: 850px;
}

.header .site-list>ul {
  width: 820px;
  height: 88px;
  padding: 12px 0 0 30px;
  font-size: 16px;
}

.header .site-list>ul>li {
  float: left;
}

.header .site-list>ul>li>a {
  display: block;
  padding: 26px 10px 38px;
  color: #333;
}

.header .site-list>ul>li>a:hover {
  color: #ff6700;
}

.header .site-list>ul .site-category {
  position: relative;
  z-index: 3;
}

.header .site-list>ul .site-category .category-list {
  position: absolute;
  top: 88px;
  left: -92px;
  width: 234px;
  height: 460px;
  background-color: rgba(0, 0, 0, 0.6);
}

.category-list>ul {
  width: 234px;
  height: 420px;
  padding: 20px 0;
}

.category-list>ul>li {
  height: 42px;
}

.category-list>ul>li>a {
  padding-left: 30px;
  display: block;
  height: 42px;
  line-height: 42px;
  font-size: 14px;
  color: #fff;
  position: relative;
}

.category-list>ul>li>a:hover {
  background-color: #ff6700;
}

.category-list>ul>li>a>span {
  position: absolute;
  top: 12px;
  right: 20px;
  font-size: 16px;
  line-height: 16px;
}

.header .site-search {
  float: right;
  width: 296px;
  margin-top: 25px;
}

.header .site-search form {
  width: 296px;
  height: 50px;
  position: relative;
}

.header .site-search form .search-text {
  width: 223px;
  height: 48px;
  border: 1px solid #e0e0e0;
  font-size: 14px;
  padding: 0 10px;
  float: left;
}

.header .site-search form .search-btn {
  float: left;
  margin-left: -1px;
  width: 50px;
  height: 50px;
  border: 1px solid #e0e0e0;
  background-color: white;
}

.header .site-search form .search-word {
  position: absolute;
  top: 14px;
  right: 65px;
  font-size: 12px;
}

.header .site-search form .search-word a {
  display: inline-block;
  margin-left: 5px;
  padding: 0 5px;
  background-color: #eee;
  color: #757575;

}

.header .site-search form .search-word a:hover {
  background-color: #ff6700;
  color: #fff;
}

/* 内容区 */
.site-content .site-slider {
  position: relative;
  z-index: 2;
}

.site-content .site-slider>a {
  display: block;
  height: 460px;
}

.site-content .site-slider>a img {
  width: 1226px;
}

.site-content .site-slider>span {

  width: 41px;
  height: 69px;
}

.site-content .site-slider .next {
  position: absolute;
  top: 14em;
  right: 0;
  opacity: .7;
  background: url(../images/next1.png) no-repeat;
}

.site-content .site-slider .next:hover {
  opacity: 1;
}

.site-content .site-slider .prev {
  position: absolute;
  top: 14em;
  left: 236px;
  opacity: .7;
  background: url(../images/prev1.png) no-repeat;
}

.site-content .site-slider .prev:hover {
  opacity: 1;
}

.site-content .slider-item {
  position: absolute;
  bottom: 20px;
  right: 40px;
  width: 200px;
  height: 30px;
  line-height: 30px;
  text-align: right;
}

.site-content .slider-item a {
  display: inline-block;
  margin: 0 5px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, .4);
  border: 2px solid rgba(255, 255, 255, .3);
}

/* 向导 */
.content-sub {
  margin-top: 18px;
}

.content-sub .content-channel {
  float: left;
  width: 234px;
}

.content-sub .content-channel ul {
  background: #5f5750;
  font-size: 12px;
  text-align: center;
}

.content-sub .content-channel ul li {
  float: left;
  width: 33.33%;
  height: 85px;
}

.content-sub .content-channel ul li a {
  display: block;
  padding-top: 18px;
  color: rgba(255, 255, 255, .7);
}

.content-sub .content-channel ul li a i {
  display: block;
  font-size: 24px;
}

.content-sub .content-list {
  float: left;
  width: 992px;
}

.content-sub .content-list ul {
  width: 100%;
}

.content-sub .content-list ul li {
  float: left;
  width: 33.33%;
  text-align: right;
}

.content-sub .content-list ul li a {
  display: block;
  height: 170px;
}

.content-sub .content-list ul li a img {
  width: 316px;
  height: 170px;
}


/* 小米站点内容 */


.clearfix::after {
  content: '';
  clear: both;
  display: block;
}