body {
  font: 14px/1.5 Helvetica Neue, Helvetica, Arial, Microsoft Yahei, Hiragino Sans GB, Heiti SC, WenQuanYi Micro Hei, sans-serif;
  color: #333;
}

/* 顶部栏 */
.topBar {
  width: 100%;
  height: 40px;
  background-color: #333333;
}

.container {
  width: 1226px;
  height: 100%;
  margin: 0 auto;
}

.topBar .topBar_list {
  float: left;
}

.topBar .shop {
  float: right;
  width: 120px;
  margin-left: 15px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-color: #424242;
}

.topBar .login {
  float: right;
}

.topBar a {
  color: #b0b0b0;
  font-size: 12px;
  display: inline-block;
  line-height: 40px;
}

.topBar .shop a {
  width: 120px;
  height: 40px;
  display: inline-block;
}

.topBar a:hover {
  color: #fff;
}

.topBar span {
  color: #424242;
  margin: 0 .5em;
}

/* 导航栏 */
.header {
  height: 100px;
}

.header .site-logo {
  float: left;
  width: 62px;
  margin-top: 22px;
}

.header .site-logo a {
  display: block;
  width: 56px;
  height: 56px;
}

.header .site-list {
  float: left;
  width: 850px;
}

.header .site-list ul {
  width: 820px;
  height: 88px;
  padding: 12px 0 0 30px;
  font-size: 16px;
}

.header .site-list ul li {
  float: left;
}

.header .site-list ul li a {
  display: block;
  padding: 26px 10px 38px;
  color: #333;
}

.header .site-list ul li a:hover {
  color: #ff6700;
}

/* .header .site-list ul .site-category a {
  padding: 0;
} */

.header .site-search {
  float: right;
  width: 296px;
  margin-top: 25px;
}

.header .site-search form {
  width: 296px;
  height: 50px;
  position: relative;
}

.header .site-search form .search-text {
  width: 223px;
  height: 48px;
  border: 1px solid #e0e0e0;
  font-size: 14px;
  padding: 0 10px;
  float: left;
}

.header .site-search form .search-btn {
  float: left;
  margin-left: -1px;
  width: 50px;
  height: 50px;
  border: 1px solid #e0e0e0;
  background-color: white;
}

.header .site-search form .search-word {
  position: absolute;
  top: 14px;
  right: 65px;
  font-size: 12px;
}

.header .site-search form .search-word a {
  display: inline-block;
  margin-left: 5px;
  padding: 0 5px;
  background-color: #eee;
  color: #757575;

}

.header .site-search form .search-word a:hover {
  background-color: #ff6700;
  color: #fff;
}